@page
@model IndexModel
@* @{
    ViewData["Title"] = "Schools";
}
<div class="text-center">
    <img src="images/school.jpg" alt="School" style="float:right; width: 300px; height: 200px;">
    <h5>@ViewData["Title"]</h5>
</div>
<div class="offset-1">
    <p>Train is a site that supports a database about Programs.</p>
    <p>
        The database will include information about:
        <ul>
            <li>Schools</li>
        </ul>
    </p>
</div> *@
